* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 10px;
    justify-content: center;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 15px gray;
}

p {
    padding: 10px;
}


main {
    max-width: 840px;
}

aside {
    width: 200px;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: -30px;
    right: 0px;
    

}

main img {
    float: right;
    width: 150px;
    height: auto;
}

p { padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 2rem;
    border: 1px solid rgba(66, 66, 66, 0.9);
    padding: 1.5rem;
    background-color: #eee;
    color: #000;
}